@import "tailwindcss";

:root {
  --background: #0d0d14;
  --foreground: #f1f1f1;

  /* Green palette */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #0f291e;

  /* Dark elegant custom palette */
  --berry-500: #591948;
  --navy-900: #0F1626;
  --black-950: #05090D;
  --sand-400: #8C7968;
  --cocoa-700: #594036;

  /* Accent and semantic colors */
  --accent-emerald: #3A7665;
  --accent-gold: #C5A77B;
  --error: #C64C4C;
  --success: #5DBB63;

  --gray-100: #f5f5f4;
  --gray-300: #d6d3d1;
  --gray-500: #78716c;
  --gray-700: #3f3f46;
  --gray-900: #18181b;


  /* Typography */
  --font-heading: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-950: var(--green-950);

  --color-berry-500: var(--berry-500);
  --color-navy-900: var(--navy-900);
  --color-black-950: var(--black-950);
  --color-sand-400: var(--sand-400);
  --color-cocoa-700: var(--cocoa-700);

  --color-accent-emerald: var(--accent-emerald);
  --color-accent-gold: var(--accent-gold);
  --color-error: var(--error);
  --color-success: var(--success);

  --color-gray-100: var(--gray-100);
  --color-gray-300: var(--gray-300);
  --color-gray-500: var(--gray-500);
  --color-gray-700: var(--gray-700);
  --color-gray-900: var(--gray-900);

  --font-heading: var(--font-heading);
  --font-body: var(--font-sans);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
